name: Add unable-to-reproduce comment
on:
  workflow_call:
    inputs:
      more_info_label:
        description: 'Label to add when unable to reproduce'
        type: string
        required: false
        default: 'more-info-needed'
      unable_to_reproduce_label:
        description: 'Label that triggers this workflow'
        type: string
        required: false
        default: 'unable-to-reproduce'
      log_menu_path:
        description: 'Path to access logs in the application menu'
        type: string
        required: false
        default: '`Help` > `Show Logs in Finder/Explorer`'
  issues:
    types:
      - labeled

permissions:
  issues: write

jobs:
  add-comment-to-unable-to-reproduce-issues:
    if: github.event.label.name == (inputs.unable_to_reproduce_label || 'unable-to-reproduce')
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GH_REPO: ${{ github.repository }}
      NUMBER: ${{ github.event.issue.number }}
      LABELS: ${{ inputs.more_info_label || 'more-info-needed' }}
      BODY: >
        Thank you for your issue! Unfortunately, we are unable to reproduce the
        issue you are experiencing. Please provide more information so we can
        help you.


        Here are some tips for writing reproduction steps: 
          - Step by step instructions accompanied by screenshots or screencasts
        are the best.
          - Be as specific as possible; include as much detail as you can. 
          - If not already provided, include:
              - the version of the application you are using. 
              - the operating system you are using
              - any environment factors you can think of.
              - any custom configuration you are using.
              - a log file from the day you experienced the issue (access log
        files via the file menu and select ${{ inputs.log_menu_path || '`Help` > `Show Logs in Finder/Explorer`' }}).
          - If relevant and can be shared, provide the repository or code you
        are using.
    steps:
      - run: gh issue edit "$NUMBER" --add-label "$LABELS"
      - run: gh issue comment "$NUMBER" --body "$BODY"
